<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725462321585-3jtrre1jsjq0q6db78eairf01s8tlk4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725462321585-3jtrre1jsjq0q6db78eairf01s8tlk4a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>725462321585-h3iafb7l7vct5cp2gfeu58bnv72b34fs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDkxsCWxTtcXHtWIBfq0ouEac0oNCU8bak</string>
	<key>GCM_SENDER_ID</key>
	<string>725462321585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.healthai</string>
	<key>PROJECT_ID</key>
	<string>healtime-app</string>
	<key>STORAGE_BUCKET</key>
	<string>healtime-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725462321585:ios:23589fb79a861f65845590</string>
</dict>
</plist>